/* 
font-family: 'Prompt', sans-serif;
font-family: 'Roboto', sans-serif;
*/

:root {
    --reddark: #D90429;
    --redbright: #EF233C;
    --background: #EDF2F4;
    --lightgray: #8D99AE;
    --darknavy: #2B2D42;
}


* {
    background-color: var(--background);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    height: auto;
}

header {
    margin-top: 2rem;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.menu-bar {
    padding: 2rem;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
}

.name {
    font-family: 'Prompt', sans-serif;
    color: var(--darknavy);
}

.mil-color {
    color: var(--reddark);
}


.menu {
    display: flex;
    list-style: none;
    
}

.menu-item {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--darknavy);
    font-family: 'Roboto', sans-serif;
    margin: 0 0.75rem;
    padding: 0 5px;
}

.contactBtn {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--darknavy);
    font-family: 'Roboto', sans-serif;
    margin: 0 0.75rem;
    background-color: var(--darknavy);
    border-top-right-radius: 20px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 20px;
    padding: 1rem;
    color: var(--background);
}

.contactBtn:hover {
    background-color:var(--reddark);
    cursor: pointer;
}

.menu-item:hover {
    color: var(--reddark);
    cursor: pointer;
}

/* ***************************** */
